
# Twitter Credentials
#
# To obtain the credentials, you must first have a Twitter account. 
# Then, go to https://dev.twitter.com/, login, and click on "Manage Your Apps" to reach https://apps.twitter.com/.
# Then, click "Create New App", fill in the relevant fields, and click "Create your Twitter application".
# With the application created, navigate to the API Keys page and click "Create my access token". 
# You now have the four necessary credentials. Copy the API key, API secret, 
# Access token, and Access token secret here.

# NOTE: API key and API secret go in the consumerKey and consumerSecret fields.
twitter.consumerKey=
twitter.consumerSecret=
twitter.accessToken=
twitter.accessSecret=


# Personality Insights credentials and URL

# Username and Password
personality_insights.username=
personality_insights.password=

# IAM API Key
personality_insights.iam_apikey=

# URL
personality_insights.url=

#NOTE: Whitespace at the end of any of the credentials' lines will cause a auth failure